<!DOCTYPE html>
<html lang="en">
<%- include('../includes/seo.ejs') %>
<body>
    <%- include('../includes/navbar.ejs') %>
    <form action="/login" method="POST">
        <input 
        type="email"
        placeholder="Email"
        name="email"
        >
        <input 
        type="password"
        placeholder="password"
        name="pass"
        >
        <button>Login</button>
    </form>
</body>
</html>