<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/seo.ejs') %>
<body>
    <%- include('../includes/navbar.ejs') %>
    <form action="/signup" method="POST">
        <input 
        type="text"
        placeholder="Full Name"
        name="name"
        >
        <input 
        type="email"
        placeholder="Email"
        name="email"
        >
        <input 
        type="password"
        placeholder="Password"
        name="pass"
        >
        <input 
        type="password"
        placeholder="Confirm password"
        name="confirmpass"
        >
        <button>Sign up</button>
    </form>
</body>
</html>