<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <nav class="nav">
        <div>
            <a href="/form?type=info"> Student Info </a>
            <a href="/form?type=resume">Resume upload</a>
        </div>
        <div>
            <a href="/auth/login">Login</a>
            <a href="/auth/signup">Sign up</a>
        </div>
    </nav>
  </header>
</body>
</html>