extends partials/head.pug

block content 
    main.content 
        if product.length > 0
            .container 
                each item in product
                    .content-card 
                        h1.content-card--titel #{item.product}
        else 
            h1 No Products.

