extends partials/head.pug 
block content
    form(action="/admin/add-item",method="POST")
        input(type="text",placeholder="add products",name="product")
        button(type="submit") Submit product