doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Node | add
        link(rel="stylesheet",href="/index.css")
    body 
        form(action="/admin/add-item",method="POST")
            input(type="text",placeholder="add products",name="product")
            button(type="submit") Submit product